@model Domain_Layer.DTO.ProfileDetailsDTO

@using (Ajax.BeginForm("EditDetailsForm", "Account", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "lala", OnSuccess = "changeMade(data)", InsertionMode = InsertionMode.Replace }, new { id = "editDetailsForm", @class = "mt-3" }))
{
    <div class="form-group">
        @Html.TextBoxFor(m => m.PersonalDescription, new { @class = "form-control form-control-sm", placeholder = "Agrega una descripción" })        
        @Html.ValidationMessageFor(m => m.PersonalDescription, null, new { @class = "text-danger" })
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.WebSiteURL, new { @class = "form-control form-control-sm", placeholder = "Agrega un sitio web" })        
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button type="submit" class="btn btn-sm btn-outline-success">Aplicar cambios</button>
}