<div class="img-preview-overlay">
    <div class="dummy"></div>
    <div class="img-preview-container">
        <div class="centerer"></div>
        <button class="close-img-preview"><i class="fas fa-times" title="Cerrar"></i></button>
        @*<button class="close-img-preview"><i class="fas fa-chevron-left" title="Cerrar"></i></button>
        <button class="close-img-preview"><i class="fas fa-chevron-right" title="Cerrar"></i></button>*@
        <img class="img-preview" src="" alt="image_preview" />
    </div>
</div>