<div class="card mb-1">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <a class="card-link" href="#">
                    <img class="mr-2" src="https://pbs.twimg.com/profile_images/1009541059825635328/r-qkBD7g_bigger.jpg" width="48" height="48" alt="profile_image" style="border-radius: 50%;" />
                    <span class="card-title"><b>GustavoProfile</b></span>
                    <span class="card-subtitle mb-2 text-muted">@@gustavoprofile22</span>
                </a>
                <div class="dropdown post-actions-menu">
                    <a id="menuLinkActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-caret-square-down ml-2"></i></a>
                    <div class="dropdown-menu" aria-labelledby="menuLinkActions">
                        <a class="dropdown-item" href="#"><i class="far fa-copy"></i> Copiar enlace del post</a>
                        <a class="dropdown-item" href="#"><i class="far fa-plus-square"></i> Insertar post</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-microphone-alt-slash"></i> Silenciar a @@usuario</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-lock"></i> Bloquear a @@usuario</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="far fa-flag"></i> Denunciar este post</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <p class="card-text">
                    It's cheaper than a fancy coffee and won't leave plastic to strangle the environment. So really, you're saving the planet while getting a kick-ass game.

                    Go you! Rogue Legacy - <a href="#" class="card-link">http://bit.ly/2Otom3M  (-80%)</a>

                    <a href="#" class="card-link">#DailyDeal</a>
                </p>
                <div class="card">
                    <img class="card-img" src="https://pbs.twimg.com/media/DjO5Z8bX4AArKSW.jpg" width="506" alt="Card image">
                </div>
            </div>
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="col-md-5">
                <a href="#" class="card-link"><i class="far fa-comment"></i><span> 28</span></a>
                <a href="#" class="card-link"><i class="fas fa-retweet"></i><span> 152K</span></a>
                <a href="#" class="card-link"><i class="far fa-heart"></i><span> 11K</span></a>
            </div>
            <div class="col-md-5 text-right">
                <p class="text-muted"><i class="far fa-clock"></i> 43 min.</p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-1">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <a href="#">
                    <img class="mr-2" src="https://pbs.twimg.com/profile_images/1009541059825635328/r-qkBD7g_bigger.jpg" width="48" height="48" alt="profile_image" style="border-radius: 50%;" />
                    <span class="card-title"><b>GustavoProfile</b></span>
                    <span class="card-subtitle mb-2 text-muted">@@gustavoprofile22</span>
                </a>
                <i class="far fa-caret-square-down ml-2"></i>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <p class="card-text">
                    It's cheaper than a fancy coffee and won't leave plastic to strangle the environment. So really, you're saving the planet while getting a kick-ass game.

                    Go you! Rogue Legacy - <a href="#" class="card-link">http://bit.ly/2Otom3M  (-80%)</a>

                    <a href="#" class="card-link">#DailyDeal</a>
                </p>
                <div class="card post-images">
                    <div class="row no-gutters">
                        <div class="col">
                            <img class="card-img" src="https://pbs.twimg.com/media/DjO5Z8bX4AArKSW.jpg" alt="Card image">
                        </div>
                        <div class="col">
                            <img class="card-img" src="https://pbs.twimg.com/media/DjPJLS8W4AA3YNQ.jpg" alt="cardimg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="col-md-5">
                <a href="#" class="card-link"><i class="far fa-comment"></i><span> 28</span></a>
                <a href="#" class="card-link"><i class="fas fa-retweet"></i><span> 152K</span></a>
                <a href="#" class="card-link"><i class="far fa-heart"></i><span> 11K</span></a>
            </div>
            <div class="col-md-5 text-right">
                <p class="text-muted"><i class="far fa-clock"></i> 43 min.</p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-1">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <a href="#">
                    <img class="mr-2" src="https://pbs.twimg.com/profile_images/1009541059825635328/r-qkBD7g_bigger.jpg" width="48" height="48" alt="profile_image" style="border-radius: 50%;" />
                    <span class="card-title"><b>GustavoProfile</b></span>
                    <span class="card-subtitle mb-2 text-muted">@@gustavoprofile22</span>
                </a>
                <i class="far fa-caret-square-down ml-2"></i>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <p class="card-text">
                    It's cheaper than a fancy coffee and won't leave plastic to strangle the environment. So really, you're saving the planet while getting a kick-ass game.

                    Go you! Rogue Legacy - <a href="#" class="card-link">http://bit.ly/2Otom3M  (-80%)</a>

                    <a href="#" class="card-link">#DailyDeal</a>
                </p>
                <div class="card post-images">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <img class="card-img" src="https://pbs.twimg.com/media/DjO5Z8bX4AArKSW.jpg" alt="Card image">
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col">
                                    <img class="card-img" src="https://pbs.twimg.com/media/DjPJLS8W4AA3YNQ.jpg" alt="cardimg" />
                                </div>
                                <div class="w-100"></div>
                                <div class="col">
                                    <img class="card-img" src="http://i48.tinypic.com/wrltuc.jpg" alt="cardbear" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="col-md-5">
                <a href="#" class="card-link"><i class="far fa-comment"></i><span> 28</span></a>
                <a href="#" class="card-link"><i class="fas fa-retweet"></i><span> 152K</span></a>
                <a href="#" class="card-link"><i class="far fa-heart"></i><span> 11K</span></a>
            </div>
            <div class="col-md-5 text-right">
                <p class="text-muted"><i class="far fa-clock"></i> 43 min.</p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-1">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <a href="#">
                    <img class="mr-2" src="https://pbs.twimg.com/profile_images/1009541059825635328/r-qkBD7g_bigger.jpg" width="48" height="48" alt="profile_image" style="border-radius: 50%;" />
                    <span class="card-title"><b>GustavoProfile</b></span>
                    <span class="card-subtitle mb-2 text-muted">@@gustavoprofile22</span>
                </a>
                <i class="far fa-caret-square-down ml-2"></i>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <p class="card-text">
                    It's cheaper than a fancy coffee and won't leave plastic to strangle the environment. So really, you're saving the planet while getting a kick-ass game.

                    Go you! Rogue Legacy - <a href="#" class="card-link">http://bit.ly/2Otom3M  (-80%)</a>

                    <a href="#" class="card-link">#DailyDeal</a>
                </p>
                <div class="card post-images">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img class="card-img" src="https://pbs.twimg.com/media/DjO5Z8bX4AArKSW.jpg" alt="Card image">
                        </div>
                        <div class="col-md-6">
                            <img class="card-img" src="https://pbs.twimg.com/media/DjO5Z8bX4AArKSW.jpg" alt="Card image">
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <img class="card-img" src="https://pbs.twimg.com/media/DjPJLS8W4AA3YNQ.jpg" alt="cardimg" />
                        </div>
                        <div class="col-md-6">
                            <img class="card-img" src="https://pbs.twimg.com/media/DjPJLS8W4AA3YNQ.jpg" alt="cardimg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="col-md-5">
                <a href="#" class="card-link"><i class="far fa-comment"></i><span> 28</span></a>
                <a href="#" class="card-link"><i class="fas fa-retweet"></i><span> 152K</span></a>
                <a href="#" class="card-link"><i class="far fa-heart"></i><span> 11K</span></a>
            </div>
            <div class="col-md-5 text-right">
                <p class="text-muted"><i class="far fa-clock"></i> 43 min.</p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-1">
    <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>