<img class="card-img-top profile-section-header" src="/Content/images/example_header.jpg" alt="header_image">
<div class="card-body">
    <div class="row">
        <div class="col">
            <img class="profile-section-avatar" src="/Content/images/example_avatar.jpg" alt="avatar_image" />
            <h5 class="text-center">GustavoProfile</h5>
            <a class="text-center text-muted" href="@Url.Action("ProfileScreen", "Account")"><h6>@@gustavoprofile22</h6></a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4 col-md-4">
            <a href="#" class="legends">
                <span>Posts</span>
                <span>2000</span>
            </a>
        </div>
        <div class="col-4 col-md-4">
            <a href="#" class="legends">
                <span>Siguiendo</span>
                <span>60</span>
            </a>
        </div>
        <div class="col-4 col-md-4">
            <a href="#" class="legends">
                <span>Seguidores</span>
                <span>38</span>
            </a>
        </div>
    </div>
</div>