@model IEnumerable<Domain_Layer.DTO.TopTrendingsDTO>

<ul class="trends-list">
    @foreach (var trending in Model)
    {
        <li>
            <a href="@Url.Action("Search", "Home", new { q = trending.Name })" class="card-link">
                <span class="trend-name">@trending.Name</span>
                <div class="trend-stats">@trending.Assiduity posts</div>
            </a>
        </li>
    }    
</ul>
