<div id="hotkeysPanel" class="d-flex justify-content-center">
    <div class="card border-secondary hotkeys-info">
        <div class="card-header">
            <h5 class="d-inline">Atajos de teclado</h5><button type="button" class="close" title="Cerrar">&times;</button>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="card-title">General</h4>
                    <p class="card-text"><i>Ir al timeline: </i><i class="far fa-keyboard"></i> g + <i class="far fa-keyboard"></i> h</p>
                    <p class="card-text"><i>Ir a mi perfil: </i><i class="far fa-keyboard"></i> g + <i class="far fa-keyboard"></i> p</p>
                    <p class="card-text"><i>Ir a mis "me gusta": </i><i class="far fa-keyboard"></i> g + <i class="far fa-keyboard"></i> l</p>
                    <p class="card-text"><i>Ir a mis listas: </i><i class="far fa-keyboard"></i> g + <i class="far fa-keyboard"></i> i</p>
                    <p class="card-text"><i>Abrir menú: </i><i class="far fa-keyboard"></i> m</p>
                    <p class="card-text"><i>Añadir nuevo post: </i><i class="far fa-keyboard"></i> n</p>
                </div>
                <div class="col-md-6">
                    <h4 class="card-title">Al ver un post</h4>
                    <p class="card-text"><i>Añadir una réplica: </i><i class="far fa-keyboard"></i> r</p>
                    <p class="card-text"><i>Hacer un repost: </i><i class="far fa-keyboard"></i> p</p>
                    <p class="card-text"><i>Dar "me gusta": </i><i class="far fa-keyboard"></i> l</p>
                    <p class="card-text"><i>Enviar réplica: </i><i class="far fa-keyboard"></i> ctrl + <i class="far fa-keyboard"></i> enter</p>
                    <p class="card-text"><i>Cerrar post: </i><i class="far fa-keyboard"></i> esc</p>
                </div>
            </div>
        </div>
    </div>
</div>