body {
    padding-top: 50px;
    background-color: rgb(240, 237, 236);
}

/* Estilos para la navbar */

.navbar.fixed-top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.navbar {
    padding: 0rem 1rem;
}

.draw-borders > .nav-item > a, .profile-dropdown-menu > a {
    border-bottom: 2px solid rgba(255, 255, 255, 0.00);
}

.draw-borders > .nav-item > a:hover, .draw-borders > .nav-item > .profile-dropdown-menu > a:hover, .draw-borders > .nav-item > .profile-dropdown-menu > a:focus {
    border-bottom: 2px solid #EB6864;
    transition: all 0.2s ease-in-out 0s;
}

.profile-dropdown-menu > a > img {
    border-radius: 50%;
}

.profile-dropdown-menu button:hover {
    cursor: pointer;
}

.minibird-logo, .minibird-logo:focus {
    background: none;
    border: none;
    cursor: pointer;
    outline: 0;
}

.rememberMeLabel {
    font-size: 1rem;
    font-weight: normal;
    cursor: pointer;
}

/*************/


/* Estilos para sección del usuario y tendencias */

.profile-section-header {
    width: 100%;
    height: 95px;
    display: block;
    object-fit: cover;
}

.profile-section-avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin-top: -65px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
}

.user-names > .card-title {
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-names > .card-subtitle {
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.legends {
    font-size: 0.8rem;
    font-weight: bold;        
}

.legends > span {
    display: block;
}

#trendsSection .card-header {
    padding: 0.3rem 1rem 0.3rem 1rem;
}

.trends-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0rem;
}

.trend-name {
    font-size: 0.9rem;
    font-weight: bold;
}

.trend-stats {
    font-size: 0.7rem;
    color: gray;
}

/********/

/* Modal para crear nuevo post */

.modal-md {
    max-width: 620px;
}

.modal-md textarea {
    max-height: 460px;
    resize: none;
}

#Comment {
    overflow: hidden;
    resize: none;    
}

.img-upload-newPost {
    width: 140px;
    height: 140px;
    border-radius: 5px;
    border: 2px solid rgba(146, 146, 146, 0.32);
    object-fit: cover;
}

.img-remove-newPost {
    position: absolute !important;
    top: 3px !important;
    right: 5px !important;
    z-index: 3 !important;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 0.9rem;
}

.img-remove-newPost:hover {
    background-color: red;
    cursor: pointer;
    border-color: black;
}

#imgThumbnailsRow {
    border-top: 1px dashed rgba(0,0,0,0.1);    
    padding-top: 1rem;
}


/* Estilos para los posts */

.card:hover {
    background-color: rgb(255,252,244);
}

.post-profile-img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.post-images {
    border: none !important;
}

.post-images img {    
    width: 100%;
    object-fit: cover;
    border-radius: calc(0.9rem - 1px);
}

.post-images img:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    transition: transform .2s;    
}

.img-preview-overlay {
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;    
}

.dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.img-preview-container {
    position: absolute;
    top: 48px;
    bottom: 48px;
    left: 0;
    right: 0;    
    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.centerer {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-preview {
    vertical-align: middle;
    display: inline-block;
    max-height: 100%;  /* <-- Set maximum height to 100% of its parent */
    max-width: 100%;   /* <-- Set maximum width to 100% of its parent */
}

.prev-img-preview, .next-img-preview {
    position: absolute;
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    text-shadow: 0px 0px 10px rgba(50, 50, 50, 1);    
}

.close-img-preview {
    position: absolute;
    top: 1%;
    right: 1%;
    border: none;
    background: none;
    color: lightgray;
    font-size: 2rem;
}

.close-img-preview:hover {
    color: white;
    cursor: pointer;
}

.ovh {
    overflow: hidden;
    border-radius: calc(0.9rem - 1px);
}

.one-thumbnail img {
    height: 300px;
}

.two-thumbnails img {
    height: 260px;
}

.three-thumbnails img {
    height: 260px;
}

.mini-thumbnail {
    height: 130px !important;
}

.four-thumbnails img {
    height: 200px;
}

.img-two-mini {
    height: 130px !important;
}

.img-four-mini {
    height: 200px !important;
}

.post-actions-menu {
    display: inline;
}

.interact-buttons button {
    background: none;
    border: none;
    cursor: pointer;
}

.leave-comment:hover {
    color: #0071fd;
}

.repost:hover {
    color: #25c707;
}

.like:hover {
    color: red;
}

.reposted {
    color: #25c707;
}

.liked {
    color: red;
}

.tpr {
    padding-right: 0.5px !important;
}

.tpl {
    padding-left: 0.5px !important;
}

.tpb {
    padding-bottom: 1px;
}

/**********/


/* Estilos para la vista de un post */

.view-post-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    padding-right: unset;
    margin-right: auto;
    margin-left: auto;
    background: rgba(0,0,0,.6);
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;    
}

.write-answer {
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.write-answer .card-body {
    padding-top: unset;
    padding-bottom: unset;
}

.answers {
    border-left: unset;
    border-right: unset;
    border-bottom: unset;
}

.slide-in {
    animation: slide-in 0.3s forwards;
    -webkit-animation: slide-in 0.3s forwards;
}

.slide-out {
    animation: slide-out 0.3s forwards;
    -webkit-animation: slide-out 0.3s forwards;
}
    
@keyframes slide-in {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    0% { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(100%); }
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
