body {
    padding-top: 50px;
    background-color: rgb(230, 236, 240);
}

/* Estilos para la navbar */

.navbar.fixed-top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.navbar {
    padding: 0rem 1rem;
}

.draw-borders > .nav-item > a, .profile-dropdown-menu > a {
    border-bottom: 2px solid rgba(255, 255, 255, 0.00);
}

.draw-borders > .nav-item > a:hover, .draw-borders > .nav-item > .profile-dropdown-menu > a:hover, .draw-borders > .nav-item > .profile-dropdown-menu > a:focus {
    border-bottom: 2px solid #EB6864;
    transition: all 0.2s ease-in-out 0s;
}

.profile-dropdown-menu > a > img {
    border-radius: 50%;
}

.profile-dropdown-menu button:hover {
    cursor: pointer;
}

.minibird-logo, .minibird-logo:focus {
    background: none;
    border: none;
    cursor: pointer;
    outline: 0;
}

/*************/


/* Estilos para sección del usuario y tendencias */

.profile-section-header {
    width: 100%;
    height: 95px;
    display: block;
    object-fit: cover;
}

.profile-section-avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin-top: -65px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
}

.user-names > .card-title {
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-names > .card-subtitle {
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.legends {
    font-size: 0.8rem;
    font-weight: bold;        
}

.legends > span {
    display: block;
}

#trendsSection .card-header {
    padding: 0.3rem 1rem 0.3rem 1rem;
}

.trends-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0rem;
}

.trend-name {
    font-size: 0.9rem;
    font-weight: bold;
}

.trend-stats {
    font-size: 0.7rem;
    color: gray;
}

/********/

/* Modal para crear nuevo post */

.modal-md {
    max-width: 620px;
}

.modal-md textarea {
    max-height: 460px;
    resize: none;
}

.img-upload-newPost {
    width: 140px;
    height: 140px;
    border-radius: 5px;
    border: 2px solid rgba(146, 146, 146, 0.32);
    object-fit: cover;
}

.img-remove-newPost {
    position: absolute !important;
    top: 3px !important;
    right: 5px !important;
    z-index: 3 !important;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 0.9rem;
}

.img-remove-newPost:hover {
    background-color: red;
    cursor: pointer;
    border-color: black;
}

#imgThumbnailsRow {
    border-top: 1px dashed rgba(0,0,0,0.1);    
    padding-top: 1rem;
}


/* Estilos para los posts */

.post-profile-img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.post-images {
    border: none !important;
}

.post-images img {    
    width: 100%;
    object-fit: cover;
    border-radius: calc(0.9rem - 1px);
}

.one-thumbnail img {
    height: 300px;
}

.two-thumbnails img {
    height: 260px;
}

.three-thumbnails img {
    height: 260px;
}

.mini-thumbnail {
    height: 130px !important;
}

.four-thumbnails img {
    height: 200px;
}

.img-two-mini {
    height: 130px !important;
}

.img-four-mini {
    height: 200px !important;
}

.post-actions-menu {
    display: inline;
}

.interact-buttons button {
    background: none;
    border: none;
    cursor: pointer;
}

.leave-comment:hover {
    color: #0071fd;
}

.repost:hover {
    color: #25c707;
}

.like:hover {
    color: red;
}

.tpr {
    padding-right: 0.5px !important;
}

.tpl {
    padding-left: 0.5px !important;
}

.tpb {
    padding-bottom: 1px;
}

/**********/

#Comment {
    overflow: hidden;
    resize: none;    
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
